{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div id="ort" class="col-3">
        <h1>Zuverlässige</h1>
        <h4>und schnelle montagen in:</h4>
        <div id="ortlist"></div>
    </div>
    <div class="col-9 service-request">
        <div class="col-12">
            <button type="button" class="request-button" data-bs-toggle="modal" data-bs-target="#serviceRequestModal">
                <h2>Besuch anfordern</h2>
            </button>
        </div>
    </div>
</div>
{% include 'home/modal.html' %}
{% endblock %}