{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div id="ort" class="col-12">
        <h1>Gerüstbau im Alpenvorland</h1>
        <!-- <div id="ortlist"></div> -->
    </div>
    <div class="col-12 service-request">
        <div class="col-12">
            <!-- <button type="button" class="request-button" data-bs-toggle="modal" data-bs-target="#serviceRequestModal">
                <h2>Besuch anfordern</h2>
            </button> -->
        </div>
    </div>
</div>
{% endblock %}