{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row leistungen">
    <div class="col-12 leistung">
        <h4><i class="fa-regular fa-object-ungroup"></i> Gerüstbau und Montage</h4>
    </div>
    <div class="col-12 leistung">
        <h4><i class="fa-regular fa-object-ungroup"></i> Gerüstvermietung</h4>
    </div>
    <div class="col-12 leistung">
        <h4><i class="fa-regular fa-object-ungroup"></i> Gerütsplannung und Beratung</h4>
    </div>
    <div class="col-12 leistung">
        <h4><i class="fa-regular fa-object-ungroup"></i> Gerütsprüfung und Wartung</h4>
    </div>
</div>
{% endblock %}