{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div id="ort" class="col-3">
        <h1>Zuverlässige</h1>
        <h4>und schnelle Montagen in:</h4>
        <div id="ortlist"></div>
    </div>
    <div class="service-request col-9">
        <hr>
        <div class="row">
            <div class="col-6 leistung">
                <i class="fa-solid fa-wrench icon"></i>
                <h5>Gerüstbau und Montage</h5>
            </div>
            <div class="col-6 leistung">
                <i class="fa-regular fa-clock icon"></i>
                <h5>Gerüstvermietung</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6 leistung">
                <i class="fa-regular fa-hand-peace icon"></i>
                <h5>Gerütsplanung und Beratung</h5>
            </div>
            <div class="col-6 leistung">
                <i class="fa-solid fa-pen-ruler icon"></i>
                <h5>Gerütsprüfung und Wartung</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}
