<div class="leistungen row">
    <div class="col-12 col-md-7">
        <div class="p-4">
            <h2>Gerüstbau Josef Hundegger e.K</h2>
        </div>
        <div class="running-text">
            <p>Wir sind seit 40 Jahren Ihr traditioneller Gerüstbau Fachbetrieb im Alpenvorland.</p> 
            <p>Durch unser Team aus 15 Mitarbeitern, können wir eine kurzfristige und termingerechte Abwicklung, Ihrer Wünsche sicher stellen und Ihnen individuelle Lösungen in den aufgeführten Bereichen an: </p>
            <p>Egal ob privat oder gewerblich - gerne beraten wir Sie vor Ort und arbeiten ein passendes Angebot für Sie aus!</p>
            <br>
            <p>Team Gerüstbau Hundegger.</p>
        </div>
    </div>
    <hr class="d-md-none hr-mobile">
    <div class="col-12 col-md-5 order-md-last" id="leistungen"></div>
    <div class="col-12 col-md-5 order-md-last" id="impressum">
        <h4>Impressum</h4>
        <p>Josef Hundegger e.K</p>
        <p> Mondscheinweg 15</p>
        <p>83671 - Benediktbeuern</p>
        <hr>
        <h6>Kontakt</h6>
        <p>Telefon: </p>
        <p>Email: </p>
        <p>Internet: </p>
        <p>Steueridentifikationsnummer:</p>
        <p>123-456-789-0</p>
    </div>
</div>