{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div id="ort" class="col-3">
        <h1>Termine</h1>
    </div>
    <div class="service-request col-9">
        <hr>
        <h5>Neue Termine</h5>
        <ul>
          {% for temine in termines %}
            <li>
              {{ termine.contact_person }} - {{ terminee.visit_date }}
              <ul>
                {% for note in termine.notes.all %}
                  <li>{{ termine.content }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      {% endblock %}
    </div>
</div>
{% endblock %}
