/* CSS Rules for JH Geruestbau */

/* Google Fonts Noto Sans and Raleway*/

/* General*/

body    {
    min-height: 100%;
    background: linear-gradient(to right, 
    #064bb1fc 25%, /* Deep blue */
    #eb7506 25%, /* Orange */
    #eb7506 25.5%, /* Orange continues for the 5% segment */
    #f8f9fa 25.5% /* Rest of the background color */);
}


/* Top Banner*/

.call {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 40px 10px;
    background-color: none; /* Background color */
}

.call a {
    text-decoration: none;
    color: #f2f1f1; /* Text color */
    font-size: .8rem;
    font-weight: bold;
}

.call:hover {
    background-color: #eb7506; /* Background color on hover */
    padding: 40px 15px;
}


.logo   {
    height: 100px;
    text-align: center;
    padding: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}

.logo a    {
    font-size: 30px;
}

.navbar  {
    height: 50px;
    background: linear-gradient(to right, 
    #064bb1fc 25%, /* Deep blue */
    #eb7506 25%, /* Orange */
    #eb7506 25.5%, /* Orange continues for the 5% segment */
    #f8f9fa 25.5% /* Rest of the background color */);
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 25%; /* Starting point at 25% */
    width: 75%; /* Extending to the right (100% - 25%) */
    height: 4px; /* Adjust the height of the line */
    background-color: #eb7506; /* Adjust the color of the line */
}

.navbar-nav {
    margin: auto;
    display: flex;
    align-items: center;
    margin-right: 0;
}

.navbar li{
    list-style: none;
    margin: 0 10px;
    padding: none;
    border-left: 4px solid #ce8703;
}

.navbar-nav a:hover    {
    font-weight:1.2rem;
    color: #064bb1fc;
}

/* Left panel */

#ort    {
    margin: 20px 0;
    color: #f2f1f1;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}

#ort h4 {
    text-align: right;
    margin-right: 15px;
}

#ortlist    {
    max-height: 100px;
    overflow: scroll;
}

/* Service Form */

.service-request    {
    text-align: center;
}

.service-form   {
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    border: 1px solid #ce8703;
}

.form-outline {
    background-color: none;
    margin: 20px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

input   {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ce8703;
    width: 80%;
}

.form-button {
    background-color: #064bb1fc;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px solid #ce8703;
    color: #f8f9fa;
    border: solid 2px #ce8703;
    padding: 5px 15px;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    display: inline-block;
}

form hr {
    width: 25px;
    border: none; /* Optional: If you want to remove the default border */
    background-color: #064bb1fc; /* Optional: Set the background color */
    height: 2px; /* Optional: Set the height of the line */
}


/* Profile */
/* Footer   */

.footer {
    background-color: #f8f9fa;
    width: 100%;
    z-index: 2;
    position: fixed;
    bottom: 0;
}

.tabs-footer {
    display: flex;
    justify-content: space-between; /* Align tabs and logo horizontally */
    align-items: center;
    max-height: 25px;
    padding: 0;
    /* Create a linear gradient with lines */
    background-image: linear-gradient(to bottom, 
        transparent 0%, 
        transparent 0%, #000 0%, #000 6%, 
        transparent 6%, 
        transparent 48%,#000 48%,#000 54%, 
        transparent 54%,
        transparent 94%,#000 94%, #000 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #f2f1f1;
    width: 100%;
}

.tabs-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Make the list items inline */
}

.tabs-footer li {
    border: 1.5px solid #000;
    border-radius: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    background-color: #f2f1f1;
    margin: 0; /* Adjust spacing between tabs */
}

.tabs-footer li a {
    display: block;
    color: #333;
    text-align: justify;
    text-decoration: none;
}

.tabs-footer li:hover {
    background-color: #1111114c;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f2f1f1;
    height: 20px;
    padding: 0 5px;
    margin: 10px 0;
}

.footer-logo a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0;
}



/* Media Queries---------------------------------- */
