/* CSS Rules for JH Geruestbau */

/* Google Fonts Noto Sans and Raleway*/

/* General*/

html    {
    min-height: 100vh;
    
}

body    {
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, 
    #064bb1fc 25%, /* Deep blue */
    #eb7506 25%, /* Orange */
    #eb7506 25.5%, /* Orange continues for the 5% segment */
    #f2f1f1 25.5% /* Rest of the background color */);
}

body.scroll-bottom .footer {
    bottom: 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px; /* Add padding as needed */
}

/* Top Banner*/

.call {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 40px 10px;
    background-color: none; /* Background color */
    width: 25%;
    height: 100px;
    margin: 0;
}

.call a {
    text-decoration: none;
    color: #f2f1f1;
    font-weight: bold;
    width: fit-content;
}

.call:hover {
    background-color: #eb7506; /* Background color on hover */
}

.logo   {
    height: 100px;
    text-align: center;
    padding: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}

.logo a    {
    font-size: 30px;
}

.navbar  {
    font-family: 'Raleway', sans-serif;
    position: relative;
    border: none;
    background: none;
}

.navbar-nav {
    margin: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 0;
}

.navbar-nav li  {
    list-style: none;
    margin: 0 10px;
    padding: none;
    display: block;
}

.navbar-nav a:hover    {
    font-weight:1.2rem;
    color: #064bb1fc;
}

.navbar-toggler {
    margin-top: 10px;
    margin-left: 10px;
    z-index: 300;
    background-color: transparent;
    border: 2px solid #f2f1f1 !important;;
    color: #f2f1f1 !important;;
}

/* Left panel */

#ort    {
    margin: 20px 0;
    color: #f2f1f1;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    width: 25%;
    box-sizing: border-box;
    float: left;
}

#ort h4 {
    text-align: right;
}

#ortlist    {
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    text-align: left;
    scroll-behavior: smooth;
}

#ortlist ul{
    list-style-type: none;
}

/* Service Form */

#service-request    {
    background-image: url('/media/site/andamio-2-01.png');
    background-position: contain;
    background-repeat: no-repeat;
    background-blend-mode:hue;
    background-size: 45%;
    background-position-x: right;
    background-position-y: 90%;
    background-color: #f2f1f175; /* Adjust the alpha channel (0.0 to 1.0) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50vh;
    padding: 25px;
    box-sizing: border-box; /* Include padding in width/height calculations */
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    border-left: 5px solid #eb7506;
    z-index: 10;
}

#service-request  h2  {
    height: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    color:#f2f1f1;
    padding: 0;
    font-size: 1.5rem;
}

#service-request  p {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin: 0 0 25px;
}

.request-button {
    background-color: #064bb1fc;
    border: 2px solid #eb7506;
    border-radius: 5px;
    margin: 40px 10px;
    padding: 5px 25px;
    height: 50px;
    z-index: 300;
}

.request-button:hover {
    background-color: #eb7506;
    color: #f2f1f1;
    border: 2px solid #064bb1fc;
    border-radius: 5px;
    margin: 40px 10px;
    padding: 5px 25px;
    height: 50px;
}

#service-request  h2:hover {
    color: #f2f1f1;
}

.service-form   {
    width: 80%;
    margin: 10px auto;
}

.form-outline {
    background-color: none;
    margin: 10px 0;
    text-align: left;
}

input   {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eb7506;
    width: 100%;
}

.form-button {
    background-color: #064bb1fc;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px solid #eb7506;
    color: #f2f1f1;
    border: solid 2px #eb7506;
    width: 100%;
    display: inline-block;
    align-items: center;
    margin: 25px 0;
    padding: 15px;
}

.form-button:hover  {
    color: #eb7506;
    border: solid 2px #064bb1fc;
    background-color: #f2f1f1;
}

.close  {
    background-color: none;
    border: solid 2px #064bb1fc;
    color: #064bb1fc;
}

.close:hover  {
    background-color: #eb7506;
    border: solid 2px #064bb1fc;
    color: #f2f1f1;
}

.leistungen {
    position: absolute;
    left: 26.5%;
    top: 250px;
    width: auto;
    height: 100%; 
    background-image: url('/media/site/jh1.jpeg');
    background-repeat: no-repeat;
    background-blend-mode:hue;
    background-size: cover;
    background-color: #f2f1f175;
    background-clip: content-box;
    border-left: 2px solid #eb7506;
    border-top: 4px solid #eb7506;
    padding: none;
}

.leistung  {
    height: 50px;
    margin: none;
}


/* Footer   */

footer  {
    color:#f2f1f1;
    background-color: #064bb1fc;
    /* border-top: 4px solid; */
    border-image: linear-gradient(to right, #064bb1fc 25%, #eb7506 25%) 1;
    height: 100px;
    text-align: left;
    padding: 25px 15px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    font-size: .8em;
    position: fixed;
    bottom: -100px;
    transition: bottom 0.5s ease; /* add smooth transition */
    width: 100%;

}

.footer-call    {
    margin: 15px 0;
    margin-right: 10px;
    width: fit-content;
}

footer a    {
    text-decoration: none;
    color: #f2f1f1;
    font-size: 1em;
}

footer p    {
    padding: 5px;
    margin: 0;
}


/* Media Queries---------------------------------- */

@media (max-width: 768px) {
    
    .logo {
        text-align: right;
        width: 100%;
        height: auto;
        margin-top: none;
        float: none;
    }
    
    .call {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 25px;
      border: 0;
    }

    .navbar {
        height: auto;
        color: #f2f1f1;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }


    .navbar-brand   {
        position: relative;
        top: 15px;
    }

    /* Adjust hamburger menu expanded */
    .navbar-collapse    {
    position: fixed;
    top:75px;
    left:0;
    height: fit-content;
    width: 25%;
    background-color: #064bb1fc;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    z-index: 300;
    }

    .nav-link {
        color: #f2f1f1 !important;
    }

    .nav-link:hover {
        color: #eb7506;
    }

    .call a {
        text-decoration: none;
        color: #064bb1fc;
        width: 100%;
        font-size: 1.5rem;
    }

    #ort    {
        font-size: 0.8em;
        padding: none;
        list-style: none;
    }

    #ort ul {
        padding-inline-start: 5px;
    }

    #ort h1, #ort h4{
        font-size: inherit;
    }

    #ortlist    {
        text-align: left;
        left: 0;
        margin: auto;
    }

    #service-request    {
        height: 350px;
        background-size: 85%;
        padding: 0 25px;
        border-left: 2px solid #eb7506;
    }

    #service-request  h2  {
        font-size: 1rem;
    }

    .request-button {
        padding: 10px 25px;
    }
    
    .request-button:hover {
        padding: 10px 25px;
    }

    .leistungen {
        background-size: cover;
        background-clip: content-box;
    }
    
    .leistung  {
        height: 50px;
        margin: none;
    }
    
    footer  {
        height: 75px;
    }
    
    .footer-call    {
        margin: 5px 0;
        margin-right: 10px;
        width: 40%;
    }
    
    footer a    {
        text-decoration: none;
        color: #f2f1f1;
        font-size: .8em;
        
    }
    
    footer p    {
        padding: 5px;
        margin: 0;
        text-align: right;
    }

}
  
  