<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="loginTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#loginContent" role="tab" aria-controls="loginContent" aria-selected="true">Anmelden</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#signupContent" role="tab" aria-controls="signupContent" aria-selected="false">Konto Erstellen</a>
                    </li>
                </ul>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="loginContent" role="tabpanel" aria-labelledby="login-tab">
                        {% include 'accounts/login.html' %}
                    </div>
                    <div class="tab-pane fade" id="signupContent" role="tabpanel" aria-labelledby="register-tab">
                        {% include 'accounts/signup.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
