{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div id="ort" class="col-3">
        <h1>Zuverlässige</h1>
        <h4>und schnelle Montagen in:</h4>
        <div id="ortlist"></div>
    </div>
    <div class="service-request col-9">
        <hr>
        <h2>Termine</h2>
        <ul>
          {% for message in messages %}
            <li>
              {{ message.contact_person }} - {{ message.visit_date }}
              <ul>
                {% for note in message.notes.all %}
                  <li>{{ note.content }} - {{ note.created_at }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      {% endblock %}
    </div>
</div>
{% endblock %}
