{% load static %}
<div id="cookie-banner">
    <div class="cookie-preferences">
        <h4>Cookies:</h4>
        <div class="cookie-switch">
            <label for="strictly-necessary">Strictly Necessary</label>
            <a href="https://en.wikipedia.org/wiki/Strictly_necessary_cookies" target="_blank"><i class="fa-solid fa-magnifying-glass"></i></a>
            <input type="checkbox" id="strictly-necessary" checked>
        </div>
        <div class="cookie-switch">
            <label for="performance">Performance and Analytics</label>
            <a href="https://en.wikipedia.org/wiki/Performance_cookies" target="_blank"><i class="fa-solid fa-magnifying-glass"></i></a>
            <input type="checkbox" id="performance" checked>
        </div>
        <div class="cookie-switch">
            <label for="advertising">Relevant Advertising</label>
            <a href="https://en.wikipedia.org/wiki/Advertising_cookies" target="_blank"><i class="fa-solid fa-magnifying-glass"></i></a>
            <input type="checkbox" id="advertising" checked>
        </div>
    </div>
    <button id="accept-cookies">Bestätigen</button>
</div>
<link rel="stylesheet" href="{% static 'css/cookie-banner.css' %}" type="text/css">
<script>
    $(document).ready(function() {
        $('#accept-cookies').on('click', function() {
            $('#cookie-banner').fadeOut(); // Fade out the banner
        });
        
        // Check if the user has already accepted cookies
        if (localStorage.getItem('cookiesAccepted')) {
            $('#cookie-banner').hide(); // Hide the banner if cookies are accepted
        }

        $('#accept-cookies').on('click', function() {
            localStorage.setItem('cookiesAccepted', 'true'); // Set the item in localStorage
            $('#cookie-banner').fadeOut(); // Fade out the banner
        });
    });
</script>